/* output*/

.name {
    margin-bottom: 10px;
    padding-left: 30%;
}

.box1 {
    border-radius: 20px;
    margin-left: 60px;
    width: 95%;
    height: 600px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #eeeff6;
}

.add {
    width: 100px;
    margin-left: 300px;
}


/* pages*/

.page {
    float: left;
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
    .box1 {
        width: 50%;
    }
}
